<navbar></navbar>
<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-stretch mt-5">
        <div class="col-12 m-2">
            <div class="card w-100 h-100">
                <div class="card-body">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-lg-6">
                        <h2 class="h2 text-success">La Educación</h2>
                        <p class="p">
                            La Educación es un hecho social, cuya importancia resulta indiscutible debido a que los seres humanos, en todos los momentos de nuestra vida estamos sujetos a ella, ya sea en la familia, en la comunidad, en las actividades sociales y sobre todo en aquellas destinadas específicamente a proporcionar este servicio:  Actualmente la educación preescolar es reconocida como elemento determinante y constitutivo de la Educación Básica considerando este nivel educativo como antecedente necesario para los niveles subsecuentes.
                        </p>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center justify-content-center">
                        <img src="assets/images/book.svg" alt="" class="img-fluid obj-fit" style="max-width:300px;">
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card w-100 h-100">
                <div class="card-header bg-green text-white"><h2 class="title-6">Misión</h2></div>
                <div class="card-body">Ser un nivel educativo  comprometido con la tarea de democratizar las oportunidades educativas,  atendiendo y brindando  especial influencia positiva a los niños y niñas preescolares en situación  de riesgo y con necesidades educativas especiales, mediante el desarrollo de competencias intelectuales con capacidad de aprender permanentemente, así como en la formación de valores y actitudes que les permitan avanzar hacia el desarrollo de competencias para la vida.</div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card w-100 h-100">
                <div class="card-header bg-green text-white"><h2 class="title-6">Visión</h2></div>
                <div class="card-body">Brindar a los niños y niñas de 3, 4 y 5 años de edad una atención pedagógica congruente con las características propias de la edad y programa vigente, mediante oportunidades de aprendizaje en un ambiente distinto al familiar y  contribuyendo al desarrollo de todas sus potencialidades; haciendo énfasis en las competencias  cognitivas, socio-afectivas y de lenguaje de los niñas y las niñas que cursan este nivel educativo.</div>
            </div>
        </div>
    </div>
</div>
<div class="modal w-100 vh-100 bg-white" tabindex="-1" role="dialog" style="text-align:center;margin-top:180px;" scroll="no" id="pleaseWait" data-backdrop="static" data-bs-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <img src="assets/images/loading.gif" style="margin-top:50px;">
    </div>
</div>