<navbar></navbar>
<div class="container-fluid">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre materia</th>
                <th scope="col">Alumno</th>
                <th scope="col">Nota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Literatura</td>
                <td>Angel Lugo</td>
                <td>20</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Introduccion a paint</td>
                <td>Nazareth Avila</td>
                <td>15</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Matemática</td>
                <td>Pedro Perez</td>
                <td>14</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>