<navbar></navbar>
<div class="container-fluid">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Alumno</th>
                <th scope="col">Sección</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Angel Lugo</td>
                <td>A</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Nazareth Avila</td>
                <td>A</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Pedro Perez</td>
                <td>B</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>