<navbar [name]="name"></navbar>
<div class="container-fluid">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha cierre</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Matemática</td>
                <td>01/02/2022</td>
                <td>01/02/2022</td>
                <td><button class="btn btn-success">Completado</button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Introduccion a paint</td>
                <td>01/02/2022</td>
                <td>01/08/2022</td>
                <td><button class="btn btn-warning">En proceso</button></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Literatura</td>
                <td>10/08/2022</td>
                <td>02/02/2023</td>
                <td><button class="btn btn-secondary">No iniciado</button></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<div class="modal w-100 vh-100 bg-white" tabindex="-1" role="dialog" style="text-align:center;margin-top:180px;" scroll="no" id="pleaseWait" data-backdrop="static" data-bs-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
      <img src="assets/images/loading.gif" style="margin-top:50px;">
  </div>
</div>